* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.document {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #08090a;
}

::-webkit-scrollbar-thumb {
  background-color: #575a5e;
}

.button {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #0d606f;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.button:hover {
  background-color: #062e35;
}

.button:active {
  background-color: #00a8c2;
}

.body {
  position: relative;
  scroll-behavior: smooth;
}

.background-layer {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: rgba(87, 90, 94, 0.2);
}

.popup {
  position: absolute;
  z-index: 1000;
  left: calc(50% - 325px);
  max-width: 650px;
  width: 100%;
  height: auto;
  padding: 25px 45px 23px;
  font-family: 'Aleo', serif;
  font-weight: 700;
  background-image: linear-gradient(177.09deg, #ffffff 6.15%, #0d606f 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  transition: all 0.5s;
}

.popup__title {
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 38px;
  color: #0d606f;
  text-align: center;
}

.popup__button {
  max-width: 560px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.signin-btn__facebook {
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #1877f2;
}

.signin-btn__google {
  margin-bottom: 30px;
  color: #0d606f;
  background-color: #ffffff;
}

.signin-btn__google:hover {
  color: #ffffff;
}

.signin-btn__icon {
  margin-right: 15px;
}

.popup__text-separator {
  max-width: 560px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  color: rgba(13, 96, 111, 0.5);
}

.popup__text-separator::before,
.popup__text-separator::after {
  content: '';
  max-width: 261px;
  width: 100%;
  height: 1px;
  display: block;
  background-color: rgba(13, 96, 111, 0.5);
}

.popup__signin-form {
  margin-bottom: 10px;
}

.form__email-wrapper,
.form__password-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0d606f;
}

.form__input {
  max-width: 560px;
  width: 100%;
  height: 54px;
  padding: 0px 10px;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #0d606f;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border: none;
  border-radius: 10px;
}

.form__button {
  height: 54px;
}

.popup__password-reset {
  display: block;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #0d606f;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  text-align: center;
  cursor: pointer;
  transition: color 0.5s;
}

.popup__password-reset:hover {
  color: #062e35;
}

.popup__password-reset:active {
  color: #00a8c2;
}

.popup__empty-separator {
  max-width: 560px;
  width: 100%;
  height: 1px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgba(13, 96, 111, 0.5);
}

.popup__signup-proposal {
  display: flex;
  justify-content: center;
}

.signup-proposal__content {
  margin-right: 5px;
  font-size: 15px;
  line-height: 18px;
  color: rgba(13, 96, 111, 0.5);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
}

.signup-proposal__link {
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #0d606f;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  cursor: pointer;
  transition: color 0.5s;
}

.signup-proposal__link:hover {
  color: #062e35;
}

.signup-proposal__link:active {
  color: #00a8c2;
}

.popup.reg {
  height: 632px;
}

.popup.reg .popup__password-reset {
  display: none;
}

.popup.reg .popup__signin-form {
  margin-bottom: 25px;
}

.header {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  background-color: rgba(242, 119, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header__wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-top: 25px;
  display: flex;
}

.logo__container {
  margin-right: 158px;
}

.logo__link {
  display: flex;
  text-decoration: none;
}

.logo {
  width: 30px;
  height: 30px;
  margin-top: 1px;
  margin-right: 6px;
  cursor: pointer;
}

.logo__title {
  width: 180px;
  font-family: 'Magra', sans-serif;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.nav {
  max-width: 527px;
  width: 100%;
  margin-right: 196px;
  padding-top: 10px;
}

.nav__list,
.burger-nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__link,
.burger-nav__link {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.nav__link::after,
.burger-nav__link::after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background-color: #f4f7f5;
  transition: width 0.5s;
}

.nav__link:hover::after,
.burger-nav__link:hover::after {
  width: 100%;
}

.login-button {
  width: 103px;
  height: 41px;
  font-size: 16px;
  line-height: 21px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.burger-menu {
  display: none;
}

.burger-nav {
  display: none;
}

.main {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.preview {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-top: 122px;
  padding-bottom: 254px;
  background-image: url('../../assets/pictures/preview/background.jpg');
}

.preview__wrapper {
  max-width: 892px;
  width: 100%;
  margin-left: 120px;
}

.preview__title {
  margin-bottom: 32px;
  font-family: 'Aleo', serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #ffffff;
}

.preview__content {
  margin-bottom: 46px;
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.preview__proposal {
  width: 100%;
  padding: 18px 18px 18px 41px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.proposal__content {
  padding-top: 12px;
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f2785c;
}

.button_long {
  max-width: 228px;
  width: 100%;
  height: 59px;
  font-size: 24px;
  line-height: 32px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.steps {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 97px;
}

.steps__wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.h2 {
  font-family: 'Red Hat Text';
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #f2785c;
  text-transform: uppercase;
  text-align: center;
}

.steps__title {
  margin-bottom: 40px;
}

.steps__container {
  display: flex;
  margin: 0px 12px 0px 11px;
}

.steps__step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps__step:first-child {
  margin-right: 232px;
}

.steps__step:nth-child(2) {
  margin-right: 160px;
}

.step__icon-holder {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2785c;
  border-radius: 16px;
}

.step__icon_bike {
  width: 50px;
}

.step__icon_calendar {
  width: 52px;
}

.step__icon_plane {
  width: 60px;
}

.step__description {
  font-family: 'Aleo', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
}

.destinations__wrapper {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destinations__title {
  margin-bottom: 46px;
}

.destinations__slider {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__container {
  max-width: calc(100vw - 4px);
  width: 100%;
  position: relative;
  left: 0px;
  right: 0px;
  margin-bottom: 24px;
  display: flex;
  transition: all 0.35s ease-in-out;
}

.slider__item {
  position: relative;
  max-width: 800px;
  width: 100%;
  max-height: 800px;
}

.slider__item:not(:last-child) {
  margin-right: 60px;
}

.slider__picture {
  width: 800px;
  height: 800px;
  border-radius: 16px;
}

.slider__capture {
  position: absolute;
  bottom: 40px;
  left: 15px;
  font-family: 'Red Hat Text';
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider__dots-menu {
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.slider__arrows {
  display: none;
}

.slider__dot {
  width: 20px;
  height: 20px;
  background-color: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.slider__dot.active {
  background-color: #f2785c;
}

.button_with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_with-icon .button__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.button_with-icon .button__capture {
  font-size: 24px;
  line-height: 32px;
}

.stories {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-bottom: 61px;
  background-image: url('../../assets/pictures/stories/background.png');
  background-position: 0px 93px;
  background-repeat: no-repeat;
}

.stories__wrapper {
  padding-bottom: 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  background-position: center 93px;
}

.stories__title {
  margin-bottom: 80px;
}

.stories__container {
  margin-bottom: 40px;
}

.stories__story {
  display: flex;
}

.stories__story:not(:last-child) {
  margin-bottom: 30px;
}

.story__picture {
  max-width: 400px;
  max-height: 250px;
  margin-right: 40px;
  filter: drop-shadow(0px 4px 4px #0d606f);
}

.story__image {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.story__container {
  max-width: 760px;
  width: 100%;
  padding-top: 1px;
  font-family: 'Aleo', serif;
  color: #0d606f;
}

.story__title {
  margin-bottom: 23px;
  font-size: 35px;
  line-height: 42px;
  font-weight: 400;
}

.story__content {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.story__more {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  cursor: pointer;
  transition: color 0.5s;
}

.story__more:hover {
  color: #062e35;
}

.story__more:active {
  color: #00a8c2;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 61px;
  padding-top: 14px;
}

.footer__wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course {
  max-width: 146px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.course__github {
  width: 35px;
  height: 34px;
  background-image: url('../../assets/images/socials/github.svg');
}

.course__rsschool {
  width: 92px;
  height: 34px;
  background-image: url('../../assets/images/socials/rs_school_js.svg');
}

.rights {
  font-family: 'Red Hat Text';
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.socials {
  max-width: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 6px;
  list-style: none;
}

.socials__link,
.course__link {
  display: block;
}

.socials__instagram,
.socials__youtube,
.socials__twitter {
  width: 34px;
  height: 34px;
}

.socials__instagram {
  background-image: url('../../assets/images/socials/instagram.svg');
}

.socials__youtube {
  background-image: url('../../assets/images/socials/video.svg');
}

.socials__twitter {
  background-image: url('../../assets/images/socials/twitter.svg');
}

.socials__link,
.course__link {
  transition: transform 0.5s;
}

.socials__link:hover,
.course__link:hover {
  transform: scale(1.1);
}
